/* Default Styles */

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none; 
    color: var(--lightest-slate);
}

ul {list-style: none;}

/* Custom properties */
:root{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --ff-mono : "Space Mono", monospace;
    --regular : 400;
    --bold : 700;
    --italic : italic;
    --fs-h1 : 2.2rem;
    --fs-link : 1rem;
    --fs-f-link : .8rem;
    --fs-h3 : 1.3rem;
}


@media(min-width:900px){
    :root{

        --fs-h1 : 4.5rem;
        --fs-link : 1.2rem;
        --fs-f-link : 1rem;
        --fs-h3 : 1.6rem;
    }
}
@media(max-width:600px){
    :root{
        --fs-f-link:.8rem;
    }
}

/* Basic Styles */

body{
    margin:0;
    color:var(--navy);
    font-family:'Calibre';
    min-width:fit-content;
}

/* Typography */

h1 {font-size: var(--fs-h1);}

a{
    font-weight: 500;
    font-size:var(--fs-link);
}

li{text-align:center;}

h3{font-size: var(--fs-h3) ;color : black;}



/* Nav */



nav,ul{
    display:flex;
    justify-content:center;
    align-items: center;
}

nav{
    letter-spacing:.5;
    font-family:var(--ff-mono);
    width:inherit;
    padding:2em;
    background:var(--navy);
}

nav>ul{
    margin-right:1em;
    margin-left:auto;
    justify-self:flex-end;
    gap:1.5rem;
}

.logo{       
    display:none;
    width:10rem;
    margin:.8em 2.2em;
    cursor:pointer;
    transition: all .2s ease-in;
}

.logo:hover{
    transform:scale(1.05);
}

a, .sign-up, .cart{
    transition: all .2s ease-in;
    padding:.2em .4em;
}

a:hover{
    color:var(--green);
}

.sign-up,.log-in{
    font-size: var(--fs-link);
    white-space: nowrap;
    font-weight:var(--normal);
    border-radius:5px;
    background:transparent;
    padding:.3em .6em;
    cursor:pointer;
    color:var(--green);
    border: 1px solid var(--green);
}
.sign-up:hover,.log-in:hover{
    background:var(--green);
    color:var(--navy);
}

.account{
    display:none;
    width:3.3rem;
    margin:1rem;
}

.cart{
    display:none;
    width:3rem;
    background:var(--red-clr);
    transition: all 0.2s ease-in-out
}

.cart:hover{
    background-color: var(--white-clr);
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    width:2em;
    height:3.2px;
    display:block;
    margin:5px auto;
    background:var(--lightest-slate);
    border-radius:2px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5 ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.scrollStop{
    height:100%;
    overflow:hidden;
}

@media(max-width:1024px){
    .hamburger{
        display:block;
        justify-self:flex-end;
        margin-right:1em;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    nav>ul{
        width:100%;
        height:100%;
        padding-top:4em;
        flex-direction: column;
        justify-content:flex-start;
        gap:1.8em;
        overflow:hidden;
        position:fixed;
        right:-105%;
        margin-right:auto;
        top:120px;
        z-index:1000;
        transition:all 0.5s ease-in-out;
        background:var(--navy);
    }
    nav>ul.active{
        right:0px;
    }

    .logo1{
        width:8.5rem;
        margin:.8em;
    }
}

/* Header */

header{
    height:580px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(10%2c 25%2c 47%2c 1)'%3e%3c/rect%3e%3cpath d='M-69.95 369.69L-69.95 369.69' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-69.95 369.69L77.1 404.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-69.95 369.69L-42.2 552.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-42.2 552.94L-42.2 552.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-42.2 552.94L70.69 535.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-42.2 552.94L-51.35 696.57' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-42.2 552.94L67.47 699.81' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-51.35 696.57L-51.35 696.57' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-51.35 696.57L67.47 699.81' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-51.35 696.57L70.69 535.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-51.35 696.57L209.02 683.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-51.35 696.57L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M77.1 404.9L77.1 404.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M77.1 404.9L70.69 535.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M77.1 404.9L223.01 344.7' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M77.1 404.9L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M77.1 404.9L-42.2 552.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M70.69 535.42L70.69 535.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M70.69 535.42L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M70.69 535.42L67.47 699.81' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.47 699.81L67.47 699.81' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.47 699.81L209.02 683.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M67.47 699.81L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.01 344.7L223.01 344.7' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.01 344.7L377.02 340.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.01 344.7L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.01 344.7L70.69 535.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.01 344.7L495.95 347.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M189.57 557.04L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M189.57 557.04L209.02 683.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.02 683.24L209.02 683.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.02 683.24L70.69 535.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.02 683.24L-42.2 552.94' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M209.02 683.24L500.27 707.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.02 340.2L377.02 340.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.02 340.2L495.95 347.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.02 340.2L512.08 526.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.02 340.2L646.26 359.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M377.02 340.2L189.57 557.04' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M495.95 347.32L495.95 347.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M495.95 347.32L646.26 359.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M495.95 347.32L512.08 526.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M512.08 526.65L512.08 526.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M512.08 526.65L668.74 532.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M500.27 707.41L500.27 707.41' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M500.27 707.41L512.08 526.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M500.27 707.41L712.44 701.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M500.27 707.41L668.74 532.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M646.26 359.24L646.26 359.24' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M646.26 359.24L799.3 407.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M646.26 359.24L668.74 532.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M646.26 359.24L801.1 255.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M668.74 532.45L668.74 532.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M668.74 532.45L712.44 701.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M668.74 532.45L813.33 639.67' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M668.74 532.45L799.3 407.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M712.44 701.3L712.44 701.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M712.44 701.3L813.33 639.67' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M801.1 255.66L801.1 255.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M801.1 255.66L799.3 407.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M801.1 255.66L956.65 244.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M801.1 255.66L997.76 347.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.3 407.82L799.3 407.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.3 407.82L938.81 516.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.3 407.82L997.76 347.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M799.3 407.82L956.65 244.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M813.33 639.67L813.33 639.67' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M813.33 639.67L940.02 640.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M813.33 639.67L938.81 516.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M968.66 -44.2L968.66 -44.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M968.66 -44.2L1101.84 -74.98' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M968.66 -44.2L989.94 107.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M989.94 107.42L989.94 107.42' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M989.94 107.42L1093.97 102.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M989.94 107.42L956.65 244.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M989.94 107.42L1101.84 -74.98' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M989.94 107.42L801.1 255.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M956.65 244.53L956.65 244.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M956.65 244.53L997.76 347.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.76 347.88L997.76 347.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.76 347.88L1104.83 410.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.76 347.88L938.81 516.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.76 347.88L1113.37 558.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M938.81 516.44L938.81 516.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M938.81 516.44L940.02 640.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M940.02 640.86L940.02 640.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M940.02 640.86L1127.19 677.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.84 -74.98L1101.84 -74.98' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.84 -74.98L1273.25 -78.28' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.84 -74.98L1093.97 102.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.84 -74.98L1251.44 89.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.84 -74.98L1392.7 -101.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1093.97 102.54L1093.97 102.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1093.97 102.54L1251.44 89.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1093.97 102.54L968.66 -44.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.83 410.09L1104.83 410.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.83 410.09L1250.02 386.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1104.83 410.09L1113.37 558.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1113.37 558.44L1113.37 558.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1113.37 558.44L1127.19 677.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.19 677.32L1127.19 677.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1127.19 677.32L1241.23 661.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1273.25 -78.28L1273.25 -78.28' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1273.25 -78.28L1392.7 -101.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1273.25 -78.28L1251.44 89.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1273.25 -78.28L1442.03 103.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1273.25 -78.28L1093.97 102.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1251.44 89.4L1251.44 89.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1251.44 89.4L1282.18 210.62' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.18 210.62L1282.18 210.62' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.18 210.62L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1250.02 386.5L1250.02 386.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1250.02 386.5L1309.51 514.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1250.02 386.5L1282.18 210.62' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.51 514.53L1309.51 514.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.51 514.53L1440.39 519.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.23 661.88L1241.23 661.88' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.23 661.88L1399.63 647.43' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.23 661.88L1309.51 514.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.23 661.88L1113.37 558.44' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.23 661.88L1440.39 519.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.23 661.88L1250.02 386.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1392.7 -101.83L1392.7 -101.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1392.7 -101.83L1550.69 -76.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1392.7 -101.83L1442.03 103.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1392.7 -101.83L1251.44 89.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 103.92L1442.03 103.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 103.92L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 103.92L1573.27 101.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 103.92L1251.44 89.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 103.92L1607.28 200.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1442.03 103.92L1282.18 210.62' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1432.89 228.91L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1440.39 519.89L1440.39 519.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1440.39 519.89L1552.17 547.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.63 647.43L1399.63 647.43' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.63 647.43L1440.39 519.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.63 647.43L1309.51 514.53' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.63 647.43L1552.17 547.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.63 647.43L1575.29 701.75' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.69 -76.64L1550.69 -76.64' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.69 -76.64L1573.27 101.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.69 -76.64L1442.03 103.92' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.69 -76.64L1273.25 -78.28' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.69 -76.64L1607.28 200.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.69 -76.64L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.27 101.16L1573.27 101.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.27 101.16L1607.28 200.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.27 101.16L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.27 101.16L1392.7 -101.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.28 200.09L1607.28 200.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.28 200.09L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.28 200.09L1572.54 383.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1607.28 200.09L1282.18 210.62' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1572.54 383.5L1572.54 383.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1572.54 383.5L1552.17 547.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1572.54 383.5L1440.39 519.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1572.54 383.5L1432.89 228.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.17 547.58L1552.17 547.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.17 547.58L1575.29 701.75' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1575.29 701.75L1575.29 701.75' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1575.29 701.75L1440.39 519.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1575.29 701.75L1572.54 383.5' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='5' cx='-69.95' cy='369.69' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-42.2' cy='552.94' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-51.35' cy='696.57' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='77.1' cy='404.9' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='70.69' cy='535.42' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='67.47' cy='699.81' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='223.01' cy='344.7' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='189.57' cy='557.04' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='209.02' cy='683.24' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='377.02' cy='340.2' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='495.95' cy='347.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='512.08' cy='526.65' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='500.27' cy='707.41' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='646.26' cy='359.24' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='668.74' cy='532.45' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='712.44' cy='701.3' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='801.1' cy='255.66' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='799.3' cy='407.82' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='813.33' cy='639.67' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='968.66' cy='-44.2' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='989.94' cy='107.42' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='956.65' cy='244.53' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='997.76' cy='347.88' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='938.81' cy='516.44' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='940.02' cy='640.86' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1101.84' cy='-74.98' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1093.97' cy='102.54' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1104.83' cy='410.09' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1113.37' cy='558.44' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1127.19' cy='677.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1273.25' cy='-78.28' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1251.44' cy='89.4' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1282.18' cy='210.62' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1250.02' cy='386.5' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1309.51' cy='514.53' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1241.23' cy='661.88' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1392.7' cy='-101.83' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1442.03' cy='103.92' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1432.89' cy='228.91' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1440.39' cy='519.89' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1399.63' cy='647.43' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1550.69' cy='-76.64' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1573.27' cy='101.16' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1607.28' cy='200.09' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1572.54' cy='383.5' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1552.17' cy='547.58' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1575.29' cy='701.75' fill='%23132e65'%3e%3c/circle%3e%3cpath d='M-61.14 499.5L-61.14 499.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-61.14 499.5L47.37 508.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-61.14 499.5L-55.76 693.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-61.14 499.5L259.18 558.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-55.76 693.31L-55.76 693.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-55.76 693.31L47.37 508.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L410.88 689.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L531.15 653.06' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L345.55 523.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L259.18 558.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L515.8 508.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L200.77 701.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M410.88 689.03L664.92 672.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.08 511.33L792.08 511.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.08 511.33L661.06 544.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.08 511.33L685.55 400.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.08 511.33L794.62 676.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.02 562.49L997.02 562.49' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.02 562.49L1091.28 560.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.02 562.49L1002.97 673.2' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.02 562.49L1005.88 395.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.02 562.49L1149.54 707.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.02 562.49L792.08 511.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1093.94 257.89L1093.94 257.89' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1093.94 257.89L1142.57 397.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1093.94 257.89L1005.88 395.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.2 -88.86L1241.2 -88.86' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.2 -88.86L1391.42 -108.86' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.2 -88.86L1389.24 67.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.2 -88.86L1300.12 215.47' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1241.2 -88.86L1407.83 228.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1288.57 407.22L1288.57 407.22' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1288.57 407.22L1425.62 371.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1288.57 407.22L1239.41 540.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1288.57 407.22L1142.57 397.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1566.3 195.81L1566.3 195.81' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1566.3 195.81L1574.41 83.66' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1566.3 195.81L1577.45 339.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1566.3 195.81L1407.83 228.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1566.3 195.81L1389.24 67.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M47.37 508.19L47.37 508.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M259.18 558.52L259.18 558.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M259.18 558.52L345.55 523.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M259.18 558.52L200.77 701.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M259.18 558.52L47.37 508.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M200.77 701.24L200.77 701.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M200.77 701.24L345.55 523.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M200.77 701.24L47.37 508.19' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M345.55 523.84L345.55 523.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M345.55 523.84L515.8 508.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M515.8 508.65L515.8 508.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M515.8 508.65L531.15 653.06' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M515.8 508.65L661.06 544.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M531.15 653.06L531.15 653.06' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M531.15 653.06L664.92 672.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M531.15 653.06L661.06 544.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M531.15 653.06L345.55 523.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M531.15 653.06L794.62 676.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.55 400.78L685.55 400.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.55 400.78L661.06 544.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.55 400.78L855.56 343.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.55 400.78L515.8 508.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.55 400.78L664.92 672.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M685.55 400.78L531.15 653.06' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M661.06 544.84L661.06 544.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M661.06 544.84L664.92 672.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M664.92 672.04L664.92 672.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M664.92 672.04L794.62 676.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M664.92 672.04L792.08 511.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M664.92 672.04L515.8 508.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M855.56 343.14L855.56 343.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M855.56 343.14L1005.88 395.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M855.56 343.14L792.08 511.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M794.62 676.03L794.62 676.03' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M794.62 676.03L661.06 544.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1005.88 395.6L1005.88 395.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1005.88 395.6L1142.57 397.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1002.97 673.2L1002.97 673.2' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1002.97 673.2L1091.28 560.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1002.97 673.2L1149.54 707.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.57 397.24L1142.57 397.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.57 397.24L1091.28 560.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1091.28 560.77L1091.28 560.77' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1091.28 560.77L1239.41 540.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1091.28 560.77L1149.54 707.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1091.28 560.77L1005.88 395.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1149.54 707.52L1149.54 707.52' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1149.54 707.52L1310.47 688.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1149.54 707.52L1239.41 540.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1300.12 215.47L1300.12 215.47' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1300.12 215.47L1407.83 228.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1300.12 215.47L1389.24 67.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1239.41 540.16L1239.41 540.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1239.41 540.16L1310.47 688.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1239.41 540.16L1142.57 397.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1239.41 540.16L1412.12 644.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1310.47 688.57L1310.47 688.57' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1310.47 688.57L1412.12 644.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1391.42 -108.86L1391.42 -108.86' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1391.42 -108.86L1389.24 67.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1391.42 -108.86L1574.41 83.66' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1389.24 67.58L1389.24 67.58' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1389.24 67.58L1407.83 228.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1389.24 67.58L1574.41 83.66' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1407.83 228.73L1407.83 228.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1407.83 228.73L1425.62 371.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1407.83 228.73L1577.45 339.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1407.83 228.73L1288.57 407.22' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.62 371.42L1425.62 371.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.62 371.42L1577.45 339.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.62 371.42L1541.92 489' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1425.62 371.42L1445.45 554.11' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.45 554.11L1445.45 554.11' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.45 554.11L1412.12 644.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.45 554.11L1541.92 489' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.45 554.11L1560.05 679.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1412.12 644.87L1412.12 644.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1412.12 644.87L1560.05 679.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1412.12 644.87L1541.92 489' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1574.41 83.66L1574.41 83.66' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1574.41 83.66L1407.83 228.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1574.41 83.66L1577.45 339.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1577.45 339.91L1577.45 339.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1577.45 339.91L1541.92 489' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1541.92 489L1541.92 489' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1560.05 679.33L1560.05 679.33' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1560.05 679.33L1541.92 489' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='25' cx='-61.14' cy='499.5' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='-55.76' cy='693.31' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='410.88' cy='689.03' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='792.08' cy='511.33' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='997.02' cy='562.49' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='1093.94' cy='257.89' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='1241.2' cy='-88.86' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='1288.57' cy='407.22' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='25' cx='1566.3' cy='195.81' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/circle%3e%3ccircle r='5' cx='47.37' cy='508.19' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='259.18' cy='558.52' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='200.77' cy='701.24' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='345.55' cy='523.84' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='515.8' cy='508.65' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='531.15' cy='653.06' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='685.55' cy='400.78' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='661.06' cy='544.84' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='664.92' cy='672.04' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='855.56' cy='343.14' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='794.62' cy='676.03' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1005.88' cy='395.6' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1002.97' cy='673.2' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1142.57' cy='397.24' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1091.28' cy='560.77' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1149.54' cy='707.52' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1300.12' cy='215.47' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1239.41' cy='540.16' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1310.47' cy='688.57' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1391.42' cy='-108.86' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1389.24' cy='67.58' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1407.83' cy='228.73' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1425.62' cy='371.42' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1445.45' cy='554.11' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1412.12' cy='644.87' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1574.41' cy='83.66' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1577.45' cy='339.91' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1541.92' cy='489' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1560.05' cy='679.33' fill='%238b9ad9'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient id='SvgjsRadialGradient1003'%3e%3cstop stop-color='white' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%231735b3' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(23%2c 53%2c 179%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
        display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
header>.white{
    color:var(--white);
}
header>.slate{
    color:var(--slate)
}
/* Recent Section */



.recent-section{
    background:url(arm.jpg);
    background-color: rgba(0, 0, 0,0.7);
    background-blend-mode: multiply;
    background-position: center;
    text-align:center;
    width: 100%;
    margin: 1em auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.recent-heading{
    padding:.2em;
    margin:.5em auto;
    border-radius:5px;
    color:white;
    line-height:1.5em;
}
.container{
    width:80%;
    margin-bottom:2em;
}
.carousel{
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.663);
    height: 28rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}
.slider{
    display: flex;
    height: 100%;
    width: 400%;
    transition:all 0.5s ease-in;
}
.slider>div{
    display:flex;
    flex-basis:100%;
    justify-content: center;
    align-items:center;

}
.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}
.arrow:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.left{
    left:10px;
}
.right{
    right:10px;
}
.controls-ul{
    position:absolute;
    left:50%;
    bottom:20px;
    transform:translate(-50%);
    list-style: none;
    display:flex;
    gap:8px;
    margin:0;
    padding:0;
}
.controls-ul>li{
    width:14px;
    height:14px;
    border:2px solid black;
    border-radius: 50%;
    background:black;
    cursor:pointer;
}
.controls-ul>li.selected{
    background:transparent;
}

/* Footer */

footer{
    display:grid;
    justify-items:center;
    align-items:center;
    grid-template-columns: 1.5fr .5fr;
    width:90%;
}
.footer-link{
    font-size: var(--fs-f-link);
    padding:0 .3em;
}
.footer-img{
    width:300px; 
    place-self:start;
    align-self:end;
    opacity:.7;
}
#newsletter{
    height:100%;
    text-align:center;
    margin:5px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.footer-list{
    margin-inline:1.2em;
    display:grid;
    align-content:center;
    justify-content:center;
    grid-template-columns: repeat(2,1fr);
    grid-gap:.8em;
}
.newsletter-submit{
    border:1px solid grey;
    color:black;
    font-weight:bold;
    font-size:.9rem;
    padding: -10em 2em;
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
    background:var(--orange-clr);
    transition: all .2s ease;
    cursor:pointer
}
.newsletter-submit:hover{
    color:white;
    background:black;
}
fieldset{
    border:none;
    display:flex;
}
.newsletter-email{
    font-weight:bold;
    border:none;
    background:white;
    border:1px solid grey;
    border-right:NONE;
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;
    margin:0;
    color:rgba(65, 64, 64, 0.7);
    padding-left:.5em;
    font-size:1rem;
}

#newsletter>*{
    margin:.65em;
}
.join-p{
    color:black;
}
.back-to-top{
    width:2rem;
    /* display:none; */
    opacity:0.5;
    cursor:pointer;
}
@media(min-width:768px){
    .back-to-top{width:4rem;}
}
.newsletter-img{
    width:2.5rem;
    margin:.5em;
}
.news-svg{
    width:2rem;
    display:flex;
}