*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
}
a{text-decoration: none;color:var(--white-clr);}
ul{list-style: none;}
/* Custom properties */
:root{
    --black-clr:rgb(0, 0, 0);
    --orange-clr : rgb(229, 98, 5);
    --grey-clr:rgb(79,79,79);
    --white-clr:white;
    --red-clr: rgb(156, 29, 20);
    --ubuntu : "Ubuntu", monospace;
    --def : 400;
    --bold : 700;
    --italic : italic;
    --fs-h1 : 2.2rem;
    --fs-link : 1.40rem;
    --fs-p : 1.1rem;
}

@media(min-width:800px){
    :root{
        --fs-h1 : 3.7rem;
        --fs-link : 1.7rem;
        --fs-p : 1.25rem;
    }

}

/* Basic Styles */

body{
    font-family: var(--ubuntu);
    margin:0;
    min-width:fit-content;
    color:var(--black-clr);
}

/* Typography */

h1{font-size: var(--fs-h1);}
a {
    font-weight: var(--bold);
    font-size:var(--fs-link);
}
p,.footer-link{font-size: var(--fs-p)}



/* Header & Nav */



nav,ul{
    display:flex;
    align-items: center;
    justify-content:center;
}
header{
    width:inherit;
    background:var(--black-clr)
}
.sign-up{
    overflow:auto;
    font-size: var(--fs-link);
    font-weight:var(--bold);
    color:white;
    border-bottom:3px solid var(--orange-clr);
    border-radius:10px;
}
.sign-up:hover{
    border : 3px solid var(--orange-clr);
    padding:calc(.3em - 3px) calc(.5em - 3px);
    color:var(--orange-clr);
}
.logo{        
    cursor:pointer;
    width:12rem;
    margin:.8em 2.5em;
    transition: all .2s ease-in;
}
.logo:hover{
    transform:scale(1.05);
}
a,.sign-up,.cart{
    transition: all .2s ease-in;
    padding:.3em .5em;
}
.cart,.account{
 display:none;
}   
.account:active{
    width:3.3rem;
    margin:1rem;
}
.cart{
    width:3rem;
    background:var(--red-clr);
    transition: all 0.2s ease-in-out
}
.cart.active:hover{
    background-color: var(--white-clr);
}
a:hover{
    transform:scale(1.005);
    border-radius:10px;
    border: 3px solid;
    border-top:var(--orange-clr);
    border-left:var(--orange-clr);
    border-right:var(--orange-clr);
    color:var(--orange-clr);
}
.nav-ul{
    margin-right:1em;
    margin-left:auto;
    justify-self:flex-end;
    gap:1.3rem;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    width:2em;
    height:3.2px;
    border-radius:2px;
    display:block;
    margin:5px auto;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3 ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    background:white;
}

@media(max-width:768px){
    .hamburger{
        display:block;
        justify-self:flex-end;
        margin-right:1em;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-ul{
        position:fixed;
        left:100%;
        top:70px;
        flex-direction: column;
        width:100%;
        height:100%;
        gap:8px;
        background-color:var(--black-clr);
    }
    .nav-ul.active{
        left:0;
    }
    .logo1{
        width:9rem;
        margin:0.5em;
    }
}




/* Recent Section */



.recent-section{
    background:url(arm.jpg);
    background-color: rgba(0, 0, 0, 0.675);
    background-blend-mode: multiply;
    background-size:fit-content;
    background-position: center;
    text-align:center;
    position:relative;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

@media(min-width:800px){
    .carousel-outer-wrap{
        margin:2em;
        height:30rem;
        width:70rem;
        background:linear-gradient(to right,rgb(0,0,0),rgb(29, 29, 29),rgb(76, 76, 76));
    }
    .carousel-inner-wrap{
        height:29rem;
        width:69rem;
        background:linear-gradient(to right, rgba(255, 255, 255, 0.938),rgb(217, 217, 217),rgb(209, 208, 208));
    }
}
.carousel-wrap{
    display:flex;
    justify-content: center;
    align-items:center;
}
.recent-heading{
    color:white;
    line-height:1.5em;
    margin:.5em auto;
}
.footer-img{
    display:none;
}
.container{
    width:80%;
}
.carousel{
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgb(0, 0, 0), 0 4px 10px rgb(0, 0, 0);
}
.slider{
    display: flex;
    height: 100%;
    width: 400%;
    transition:all 0.5s ease-in;
}
.slider>div{
    flex-basis:100%;
    display:flex;
    justify-content: center;
    align-items:center;

}
.arrow{
    transform:scale(5);
    position:absolute;
    cursor:pointer;
    top:50%;
    transform:translateY(-50%);
}
.left{
    left:10px;
}
.right{
    right:10px;
}
.controls-ul{
    position:absolute;
    left:50%;
    bottom:20px;
    transform:translate(-50%);
    list-style: none;
    display:flex;
    gap:8px;
    margin:0;
    padding:0;
}
.controls-ul>li{
    width:14px;
    height:14px;
    border:2px solid black;
    border-radius: 50%;
    background:black;
    cursor:pointer;
}
.controls-ul>li.selected{
    background:transparent;
}