*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
}
a{
    text-decoration: none;
}
/* Custom properties */
:root{
    --black-clr:rgb(8, 8, 8);
    --grey-clr:rgb(79,79,79);
    --white-clr:white;
    --red-clr: rgb(156, 29, 20);
    --ubuntu : "Ubuntu", monospace;
    --def : 400;
    --bold : 700;
    --italic : italic;
    --fs-h1 : 3rem;
    --fs-link : 1.40rem;
    --fs-p : 1.1rem;
}

@media(min-width:800px){
    :root{
        --fs-h1 : 4rem;
        --fs-link : 1.6rem;
        --fs-p : 1.25rem;
    }

}

/* Basic Styles */

body{
    font-family: var(--ubuntu);
    margin:0;
    background-color:var(--white-clr);
    color:var(--black-clr);
}

/* Typography */

h1{font-size: var(--fs-h1);}
a{ font-size:var(--fs-link);}
p,.footer-link{font-size: var(--fs-p)}
